<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PokéMart Cart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css" >
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
		<div class="jumbotron">
			<div class="container">
				<img src="images/mart.png" alt="PokeMart" style="display: inline">
				<h1 style="display: inline">PokéMart Cart</h1>
			</div>
		</div>
        <div class="container">
            <div id="app">
				<div class="row">
					<div v-for="item in items" class="col-sm-4">
						<div class="item">							
							<img v-bind:src = "item.imgSrc">
							<h3>{{item.name}}</h3>
							<p class="desc">{{item.description}}</p>
							<p>Price: ${{item.price}}</p>				
							<p v-if="item.stock > 0">Ammount in Stock: {{item.stock}}</p>
							<p v-if="item.stock <= 0" class="soldout">Out of Stock</p>
							<button v-on:click="orderThis(item)" v-if="item.stock > 0">Add to Cart</button>
							<button  v-if="item.stock <= 0" disabled="disabled">Add to Cart</button>
						</div>
					</div>
			    </div>
   
				<div v-if="cartItem > 0" class="cart">
					<div class="cartheader">
						<p>Item</p>
						<p>Price</p>
						<p>Quantity</p>						
						<p>Subtotal</p>
						<p>Remove One</p>
						<p>Delete All</p>
					</div>
					<div class="cartitem" v-for="item in items" v-if="item.ordered > 0">
						<p>{{item.name}}</p>
						<p>${{item.price}}</p>
						<p>{{item.ordered}}</p>						
						<p>${{item.sub}}</p>
						<p><button v-on:click="removeThis(item)">Remove</button></p>
						<p><button v-on:click="deleteThis(item)">Delete</button></p>
					</div>
					<div class="totals">
						<p style="display: inline; float: left">Items in Cart: {{cartItem}}</p>
						<p style="display: inline; float: right">Grand Total: {{grandTotal}}</p>
						<span class="clearfix"></span>
					</div>
				</div>
				
				
            </div>
        </div>

        <!--script for cart-->
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    cartItem: 0,
					grandTotal: 0,

					items : [
						{name: "Big Malasada",
						stock: 12,
						ordered: 0,
						price: 3,
						sub: 0,
						imgSrc: "images/malasada.png",
						description: "The Alola region's local specialty—fried bread. It can be used once to heal all the status conditions of a Pokémon."},
						{name: "Rage Candy Bar",
						stock: 3,
						ordered: 0,
						price: 2,
						sub: 0,
						imgSrc: "images/ragecandy.png",
						description: "Mahogany Town's famous candy. It can be used once to heal all the status conditions of a Pokémon."},
						{name: "Old Gateau",
						stock: 10,
						ordered: 0,
						price: 10,
						sub: 0,
						imgSrc: "images/gateau.png",
						description: "The Old Chateau's hidden specialty. It can be used once to heal all the status conditions of a Pokémon."}
						]
				},
				methods : {
					orderThis(theItem){
						theItem.stock--;
						this.cartItem++;
						theItem.ordered++;
						theItem.sub = theItem.ordered * theItem.price;
						this.grandTotal += theItem.price;
					},
					removeThis(theItem){
						theItem.stock++;
						this.cartItem--;
						theItem.ordered--;
						this.grandTotal -= theItem.price;
						theItem.sub = theItem.ordered * theItem.price;
					},
					deleteThis(theItem){
						theItem.stock += theItem.ordered;
						this.cartItem = this.cartItem - theItem.ordered;
						this.grandTotal -= theItem.sub;
						theItem.ordered = 0;
						theItem.sub = 0;
					}
				}
            })
        </script>
    </body>
</html>