<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Shopping Cart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css" >
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
		<div class="jumbotron"></div>
        <div class="container">
            <div id="app">
				<div class="row">
					<div v-for="item in items" class="col-sm-4">
						<div class="item">							
							<img v-bind:src = "item.imgSrc" v-on:click="itemName(item.name)">
							<h3>{{item.name}}</h3>
							<p class="desc">{{item.description}}</p>
							<button v-on:click="orderThis(item)" v-if="item.stock > 0">Order {{item.name}}!</button>
							<p v-if="item.stock > 0">Ammount in Stock: {{item.stock}}</p>
							<p v-if="item.stock <= 0" class="soldout">Out of Stock</p>
						</div>
					</div>
			    </div>
   
				<p v-if="cartItem > 0" class="cart">Items in Cart: {{cartItem}}</p>
            </div>
        </div>

        <!--script for cart-->
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    cartItem: 0,

					items : [
						{name: 'Stitch',
						stock: 2,
						imgSrc: 'stitch.jpg',
						description: "Small fluffy alien based in Hawaii"},
						{name: 'Dory',
						stock: 10,
						imgSrc: 'dory.png',
						description: "Its a fish. She forgets things"},
						{name: 'Stitch',
						stock: 5,
						imgSrc: 'stitch.jpg',
						description: "Small fluffy alien based in Hawaii"}
						]
				},
				methods : {
					itemName(theName){
						this.itemSelected = theName;
					},
					orderThis(theItem){
						theItem.stock--;
						this.cartItem++;
					},
					deleteThis(theItem){
						this.cartItem -= theItem.ordered;
						theItem.stock = -1;
					}
				}
            })
        </script>
    </body>
</html>