body, html{
	margin: 0px;
	padding: 0px;
}
body{
	background: url("images/ball_bg.png");
}
.jumbotron{
	background-color: #C5D5FA;
}
h1{
	margin: 30px;
	text-shadow: 1px 1px #ffffff;
}
.item, .cart{
	border: 1px solid #6d6d75;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	background-color: #c2d4e5;
	background-image: url("images/ball.png");
	background-repeat: no-repeat;
}
.cart{
	margin-top: 10px;
}
.item{
	margin-bottom: 10px;
}
.desc{
	text-align: left;
	margin: 10px;
}
.soldout{
	color: red;
}
.cartitem p, .cartheader p{
	display: inline-block;
	width: 15%;
	padding: 5px;
}
.cartheader{
	font-weight: bold;
	font-size: .85em;
	border-bottom: 1px solid black;
}